<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
        body {
            background-image: url("imgs/bg.jpg");
        }

        #footer_center p {
            margin: 0;
        }

        #footer_center h3 {
            color: white;
        }
        body {
            cursor:url('imgs/default.cur'), auto;
        }
        a {
            cursor:url('imgs/pointer.cur'), auto;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>

        <el-header height="80px">
            <my-header :user="user" @reg="handleReg"
                       @logout="handleLogout" @login="handleLogin"></my-header>
        </el-header>

        <el-main style="
                    height: 500px;background-size: cover;
                    background-position: center">
            <el-card style="width: 500px;height: 300px;;margin: 50px auto">
                <el-form label-width="80px" style="width: 400px;margin: 50px auto">
                    <el-form-item label="用户名">
                        <el-input v-model="user.name" placeholder="请输入用户名"></el-input>
                    </el-form-item>
                    <el-form-item label="密码">
                        <el-input type="password"
                                v-model="user.password" placeholder="请输入用密码"
                                  @Keydown-native-enter="login()"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="login()">登录</el-button>
                        <a style="float: right;
                            text-decoration: none;color: #409EFF;
                            position: relative;top: 20px" href="reg.html">还没账号?现在注册</a>
                    </el-form-item>
                </el-form>
            </el-card>
        </el-main>

        <el-footer>
            <my-footer></my-footer>
        </el-footer>
    </el-container>
</div>
<script src="js/vue.js"></script>
<script src="js/element-ui_2.15.9_index.js"></script>
<script src="js/eui.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/my-header.js"></script>
<script src="js/my-footer.js"></script>
<script src="js/my-aside.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                user:{
                    name: "",
                    password: "",
                    nickname: ""
                },
                wd:'',
            }
        },
        methods: {
            login() {
                const redirectUrl = localStorage.getItem('redirectUrl') || '/index.html';
                axios.post("/login", v.user).then(function (response) {
                    if (response.data === 1) {
                        localStorage.removeItem('redirectUrl');
                        window.location.href = redirectUrl;
                    }
                    else if (response.data === 0) {
                        v.$message.error("登陆失败，检查用户名或密码是否正确");
                    }
                })
            },
            search(){
                if (this.wd.trim() === ""){
                    this.$message.error("请输入搜索的内容!");
                    return;
                }
                location.href="/contentList.html?wd="+this.wd;
            },
            handleSelect(){
            },
            activeIndex(){
            },
            handleReg(){//不允许允许注册-登录后回来
            },
            handleLogin(){//不会执行
            },
            handleLogout(){}/*不会执行*/
        },
        created: function (){
            axios.get("/user/getsession").then(function (response){
                v.user = response.data;
                if (v.user.id!=null){
                    location.href="personal.html"
                }
            })
        }
    })
</script>
<canvas class="fireworks" style="position:fixed;left:0;top:0;z-index:99999999;pointer-events:none;"></canvas>
<script type="text/javascript" src="js/djtx.js"></script>
</body>
</html>