<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
        .center{
            width: 1200px;
            margin: 0 auto;
        }
        #footer_center p{
            margin: 0;
        }
        #footer_center h3{
            color: white;
        }
        body{
            background-color: rgb(241,242,243);
            background-image: url("imgs/bg.jpg");
        }
        .el-header{
            background-color: white;
        }
        body {
            cursor:url('imgs/default.cur'), auto;
        }
        a {
            cursor:url('imgs/pointer.cur'), auto;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>


        <el-header height="80px">
            <my-header :user="user" @reg="handleReg"
                       @logout="handleLogout" @login="handleLogin"></my-header>
        </el-header>

        <el-main class="center" >
            <el-row gutter="20">
                <el-col span="4">
                    <el-card style="height: 900px">
                        <a href="personal.html" style="text-decoration: none ; color:#cccccc;">个人信息</a>
                        <a href="postArticle.html" style="text-decoration: none ; color: orange">稿件发布</a>
                        <a href="articleManagement.html" style="text-decoration: none ; color: orange">稿件管理</a>
                    </el-card>
                </el-col>
                <el-col span="20" >
                    <el-card style="height: 900px">
                        <el-form label-width="100px" model="form">
                            <el-form-item label="头像">

                                <!--**********上传组件开始***********-->
                                <el-upload
                                        action="/upload/avatar"
                                        name="picFile"
                                        :limit="1"
                                        list-type="picture-card"
                                        :on-preview="handlePreview"
                                        :on-success="handleSuccess"
                                        :on-remove="handleRemove">
                                    <i class="el-icon-link"></i>
                                </el-upload>
                                <el-dialog :visible.sync="dialogVisible">
                                    <img width="100%" :src="dialogImageUrl" alt="">
                                </el-dialog>
                                <!--**********上传组件结束***********-->
                            </el-form-item>
                            <el-form-item label="用户名">
                                <el-input placeholder="请输入用户名"
                                          style="width: 200px" v-model="user.name"></el-input>
                            </el-form-item>
                            <el-form-item label="用户密码">
                                <el-input placeholder="请输入密码" v-model="user.password" show-password style="width: 200px">

                                </el-input>
                            </el-form-item>
                            <el-form-item label="用户昵称">
                                <el-input placeholder="请输入用户昵称"
                                          style="width: 200px" v-model="user.nickname"></el-input>
                            </el-form-item>
                            <el-form-item label="用户邮箱">
                                <el-input placeholder="请输入用户邮箱"
                                          style="width: 200px" v-model="user.email"></el-input>
                            </el-form-item>
                            <el-form-item label="手机账号">
                                <el-input placeholder="请输入用户手机号"
                                          style="width: 200px" v-model="user.phone"></el-input>
                            </el-form-item>

                            <el-form-item>
                                <el-button type="primary" @click="saveuser()">保存信息</el-button>
                            </el-form-item>
                        </el-form>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
        <el-footer>
            <my-footer></my-footer>
        </el-footer>

    </el-container>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/eui.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/my-header.js"></script>
<script src="js/my-footer.js"></script>

<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                recipeArr:[],
                dialogImageUrl: '',
                dialogVisible: false ,
                user:{
                    name: "",
                    password: "",
                    avatarUrl: "",
                    nickname: "",
                    email: "",
                    phone: ""
                }
            }
        },
        methods: {
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            saveuser(){
                axios.post("/user/update",v.user).then(function (response){
                    if(response.data === 1){
                        alert("修改成功~")
                        location.href="personal.html";
                    }
                    else if (response.data === 0) {
                        v.$message.error("修改失败");
                    }
                })
            },
            handleReg(){},/*不会执行*/
            handleLogin(){},/*不会执行*/
            handleLogout(){
                console.log("handleLogout")
                axios.get("/user/logout")
                v.user.id=null
                location.href="index.html"/*需要跳转*/
            },
        },
        created:function (){
            axios.get("/user/getsession").then(function (response){
                v.user = response.data;
                if (v.user.id==null){
                    location.href="index.html"
                }
            })
        }
    })
</script>
<canvas class="fireworks" style="position:fixed;left:0;top:0;z-index:99999999;pointer-events:none;"></canvas>
<script type="text/javascript" src="js/djtx.js"></script>
</html>