<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
        body {
            background-image: url("imgs/bg.jpg");
        }

        .center {
            width: 1200px;
            margin: 0 auto;
        }

        #footer_center p {
            margin: 0;
        }

        #footer_center h3 {
            color: white;
        }
        body {
            cursor:url('imgs/default.cur'), auto;
        }
        a {
            cursor:url('imgs/pointer.cur'), auto;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>


        <el-header height="80px">
            <my-header :user="user" @reg="handleReg"
                       @logout="handleLogout" @login="handleLogin"></my-header>
        </el-header>


        <el-main class="center" style="margin-top: 30px;">
            <el-row gutter="20">
                <el-col span="12">
                    <el-card>
                        <img src="imgs/reg-cover.png" width="100%">
                    </el-card>
                </el-col>
                <el-col span="12">
                    <!--注册表单开始-->
                    <el-form label-width="80px">
                        <el-form-item>
                            <h1 style="float: left;font-size: 28px">立即注册</h1>
                            <a style="float: right;
                            text-decoration: none;color: #409EFF;
                            position: relative;top: 20px" href="login.html">
                                已有账号?现在登录
                            </a>
                        </el-form-item>
                        <el-form-item label="昵称">
                            <el-input placeholder="请输入昵称" v-model="user.nickname"></el-input>
                        </el-form-item>
                        <el-form-item label="邮箱">
                            <el-input placeholder="请输入邮箱" v-model="user.email"></el-input>
                        </el-form-item>
                        <el-form-item label="用户名">
                            <el-input placeholder="请输入用户名" v-model="user.name"></el-input>
                        </el-form-item>
                        <el-form-item label="密码">
                            <el-input type="password" placeholder="请输入密码" v-model="user.password"
                                      @Keydown-native-enter="reg()"

                            ></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="reg()">注册</el-button>
                        </el-form-item>
                    </el-form>
                    <!--注册表单结束-->
                </el-col>
            </el-row>

        </el-main>
        <el-footer>
            <my-footer></my-footer>
        </el-footer>
    </el-container>
</div>
<!-- import Vue before Element -->
<script src="js/vue.js"></script>
<!-- import JavaScript -->
<script src="js/eui.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/my-header.js"></script>
<script src="js/my-footer.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                user: {
                    name: "",
                    password: "",
                    nickname: "",
                    email: ""
                }
            }
        },
        methods: {
            reg() {
                if (this.user.name===""||this.user.password===""){
                    this.$message.error("注册失败，用户名和密码不能为空")
                    return
                }
                console.log(this.user)
                axios.post("/reg", this.user).then(function (response) {
                    if (response.data === 1) {
                        alert("注册成功~")
                        location.href = "/login.html"
                    } else {
                        this.$message.error("注册失败，用户名重复或其它错误")
                    }
                })
            },
            search(){
                if (this.wd.trim() === ""){
                    this.$message.error("请输入搜索的内容!");
                    return;
                }
                location.href="/contentList.html?wd="+this.wd;
            },
            handleReg(){},//不会执行
            handleLogin(){},//不允许登陆后返回注册页面
            handleLogout(){}/*不会执行*/
        },
        created: function (){
            axios.get("/user/getsession").then(function (response){
                v.user = response.data;
                if (v.user.id!=null){
                    location.href="personal.html"
                }
            })
        }
    })
</script>
<canvas class="fireworks" style="position:fixed;left:0;top:0;z-index:99999999;pointer-events:none;"></canvas>
<script type="text/javascript" src="js/djtx.js"></script>
</body>
</html>