<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <!--引入富文本编辑器css-->
    <link href="https://cdn.staticfile.org/wangeditor5/5.1.23/css/style.min.css" rel="stylesheet">

    <style>
        .center{
            width: 1200px;
            margin: 0 auto;
        }
        #footer_center p{
            margin: 0;
        }
        #footer_center h3{
            color: white;
        }
        body{
            background-color: rgb(241,242,243);
        }
        .el-header{
            background-color: white;
        }
        body {
            cursor:url('imgs/default.cur'), auto;
        }
        a {
            cursor:url('imgs/pointer.cur'), auto;
        }
    </style>
</head>
<body>
<div id="app" >
    <el-container>

        <el-header height="80px">
            <my-header :user="user" @reg="handleReg"
                       @logout="handleLogout" @login="handleLogin"></my-header>
        </el-header>

        <el-main class="center" >
            <el-row gutter="20">
                <el-col span="4">
                    <el-card style="height: 900px">
                        <a href="personal.html" style="display: block ; color:#cccccc;font-size: 20px;text-decoration: none;">个人信息</a>
                        <a href="postArticle.html" style="display: block ; color: orange;font-size: 20px;text-decoration: none;">稿件发布</a>
                        <a href="articleManagement.html" style="display: block ; color: orange;font-size: 20px;text-decoration: none;">稿件管理</a>
                        <a href="productUpload.html" style="display: block ; color: orange;font-size: 20px;text-decoration: none;">产品上传</a>
                        <a href="orders.html" style="display: block ; color: orange;font-size: 20px;text-decoration: none;">我的订单</a>
                    </el-card>
                </el-col>
                <el-col span="20">
                    <el-card>
                        <!--标签页卡开始-->
                        <el-tabs v-model="type"  type="card" @tab-click="handleClick">
                            <el-tab-pane label="帖子" name="1"></el-tab-pane>
                            <el-tab-pane label="视频" name="2"></el-tab-pane>
                            <el-tab-pane label="资讯" name="3"></el-tab-pane>
                        </el-tabs>
                        <!--标签页卡结束-->
                        <!--发布文章表单开始-->
                        <el-form label-width="100px">
                            <el-form-item label="文章标题">
                                <el-input style="width: 200px" v-model="post.postTitle"
                                          placeholder="请输入标题"></el-input>
                            </el-form-item>
                            <el-form-item label="文章简介">
                                <el-input style="width: 200px" v-model="post.postBrief" type="textarea"
                                          placeholder="请输入简介"></el-input>
                            </el-form-item>
                            <el-form-item label="封面">
                                <el-upload
                                        class="upload-demo"
                                        drag
                                        action="/upload/image"
                                        multiple="false"
                                        :on-preview="handlePictureCardPreview"
                                        :on-success="handleUploadSuccess">
                                    <i class="el-icon-upload"></i>
                                    <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                                    <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
                                </el-upload>
                                <el-dialog :visible.sync="dialogVisible">
                                    <img width="100%" :src="dialogImageUrl" alt="">
                                </el-dialog>
                            </el-form-item>
                            <el-form-item label="文章内容">
                                <div style="border: 1px solid #ccc">
                                    <div id="toolbar-container" style="border-bottom: 1px solid #ccc;"><!-- 工具栏 --></div>
                                    <div id="editor-container" style="height: 300px;"><!-- 编辑器 --></div>
                                </div>
                            </el-form-item>
                            <el-form-item>
                                <el-button @click="submit()" type="primary">发布</el-button>
                            </el-form-item>

                        </el-form>

                        <!--发布文章表单结束-->

                    </el-card>
                </el-col>
            </el-row>
        </el-main>

        <el-footer>
            <my-footer></my-footer>
        </el-footer>

    </el-container>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/element-ui_2.15.9_index.js"></script>
<script src="js/eui.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/my-header.js"></script>
<script src="js/my-aside.js"></script>
<script src="js/my-footer.js"></script>
<script src='js/jquery-1.12.4.min.js'></script>
<script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                wd: '',
                type:'1',
                dialogImageUrl: '',
                dialogVisible: false,
                post: {
                    id: null,
                    postTitle: "",
                    postContent: "",
                    postBrief: "",
                    postCover: ""
                },
                editor: null,
                toolbar : null,
                user:{
                    id: "",
                    avatarUrl: "",
                    admin: "",
                    name:"",
                    nickname:"",
                    email:"",
                    phone:""
                },
            }
        },
        methods: {
            activeIndex(index){
            },
            handleSelect(){
            },
            handleClick(tab, event) {
                console.log(tab, event);
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            handleUploadSuccess(response, file, fileList) {
                // 处理上传成功后的逻辑
                console.log("上传成功", response); // response 包含后端返回的数据
                console.log("上传的文件信息", file); // 上传的文件对象
                console.log("所有已上传的文件列表", fileList); // 所有已上传的文件列表
                v.post.postCover = response;
            },
            submit() {
                console.log("test", v.post.postContent)
                if (this.post.id==null){
                    axios.post("/post/insert", v.post).then(function(response) {
                        alert("上传成功")
                    })
                }else {
                    axios.post('/post/update', this.post)
                        .then(response => {
                            if (response.data === 1) {
                                this.$message({
                                    message: '修改成功',
                                    type: 'success'
                                })
                                this.getComments()
                            } else {
                                this.$message.error("修改失败，请重试")
                            }
                        })
                }
            },
            handleReg(){},
            handleLogin(){},/*不会执行*/
            handleLogout(){
                console.log("handleLogout")
                axios.get("/user/logout")
                v.user.id=null
                location.href="index.html"/*需要跳转*/
            },
        },
        created:async function (){
            axios.get("/user/getsession").then(function (response){
                v.user = response.data;
                if (v.user.id==null){
                    location.href="index.html"
                }
            })
            const urlParams = new URLSearchParams(window.location.search);
            const postId = urlParams.get('id');
            if (postId!=null){
                axios.get("/post/select/id?id=" + postId).then(response => {
                    var p = response.data;
                    // 如果获取到的帖子 id 为空，跳转到首页
                    if (p.id==null) {
                        location.href = "/index.html";
                    }else{
                        this.post=p;
                        console.log(this.post)
                    }
                })
            }
        }
    })
    /**********富文本编辑器相关js结束***********/
    /**********富文本编辑器相关js开始***********/
    const { createEditor, createToolbar } = window.wangEditor
    const editorConfig = {
        placeholder: '请填写详情...',
        onChange(editor) {
            const html = editor.getHtml()
            v.post.postContent = html
            console.log('editor content', html)
        }
    }
    this.editor = createEditor({
        selector: '#editor-container',
        html: `<p><br></p>`,
        config: editorConfig,
        mode: 'simple',
    })
    const toolbarConfig = {}
    this.toolbar = createToolbar({
        editor: this.editor,
        selector: '#toolbar-container',
        config: toolbarConfig,
        mode: 'simple',
    })
    const urlParams = new URLSearchParams(window.location.search);
    const postId = urlParams.get('id');
    if (postId!=null){
        axios.get("/post/select/id?id=" + postId).then(response => {
            var p = response.data;
            // 如果获取到的帖子 id 为空，跳转到首页
            console.log(p)
            if (p.id==null) {
                location.href = "/index.html";
            }else{
                this.post=p;
                console.log(this.post)
                this.editor.setHtml(p.postContent) // 重新设置编辑器内容
            }
        })
    }


</script>
<canvas class="fireworks" style="position:fixed;left:0;top:0;z-index:99999999;pointer-events:none;"></canvas>
<script type="text/javascript" src="js/djtx.js"></script>
</html>